* {
	margin: 0px;
	padding: 0px;
	/* font-family: 'Oswald', sans-serif; */
	/* font-family: 'Turret Road', cursive; */
	font-family: 'Titillium Web', sans-serif;
	color: #e8e800;
}

body {
	background: #f7f3f0;
}

h2 {
	margin: auto;
	font-weight: bold;
	font-size: 3em;
	position: absolute;
}

#menu_button {
	z-index: 9999999;
}

.background {
	position: relative;
}

.background::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("img/cityscapejpg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	filter: blur(5px);
}

.container {
	position: relative
}

nav {
	background-color: #4b1d7b;
	position: fixed;
	width: 100%;
	z-index: 9999;
}

.menu {
	padding-top: 6em;
}

ul {
	list-style: none;
	padding-top: 15px;
	text-align: center;
}

a {
	text-decoration: none;
	font-size: 1.5em;
}

#info {
	padding: 8.5em 0  0 0.8em;
	position: relative;
}

.paragraph {
	background: black;
	margin: 1.5em 0;
}